#Compilation
**/bin/

#Simulation
**/csrc/
**/DVEfiles/
**/inter.vpd
**/ucli.key
**/simulation/
**/.synopsys_dve_rebuild.tcl

#Eclipse artifacts
**/.dvt/
**/dvt_build.log
**/.project

#Quartus
**/qdb/
**/output_files/
**/tmp-clearbox/

#Etc
**/*.old